<div id="root-filter" align="center">
  <form class="form-horizontal" id="form-busqueda">
    <fieldset>
      <div class="form-group" align="center">
            Nombre del restaurante {{input type="text" size=200px value=name class="form-control" key-up=(action 'handleFilterName')}}
      </div>
    </fieldset>
    <div class="errors-container" id="errors"></div>
    <button id = "boton" class=" btn  btn-lg" {{action 'handleFilterName'}}>Buscar</button>
  </form>
</div>
{{yield results}}
