<div id="root" alingn="center">
  <form class="form-horizontal" id="form-busqueda">
    <fieldset>
      <div class="form-group" align="center">
        <div class="errors-container" id="errors"></div>
        <div  align="center">
          Nombre del restaurante {{input type="text" size=200px value=name}}
        </div>
        <br>
        <button id = "boton" class=" btn  btn-lg" {{action 'handleFilterName'}}>Buscar</button>
      </div>
    </fieldset>
  </form>
</div>
{{yield results}}
