<div  align="center">
 <div class="page-header">
  <h1>Búsqueda de Restaurantes<small></small></h1>
</div >

{{#busqueda-filter filter=(action 'filterByName') as |restaurants|}}
  <ul class='results'>
    {{#each restaurants as |restaurantUnit|}}
      <li>{{restaurans-listing restaurant=restaurantUnit}}</li>
    {{/each}}
  </ul>
{{/busqueda-filter}}

</div>
