<h4><strong>Buscar Restaurantes</strong></h4>

<div id="root" align="center">
  <form id="form-create" class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <p>Búsqueda por nombre</p>
        <div class="input-group">
            {{input placeholder="Nombre" type='text'  value = filterText}}
            <ul>
              {{#each item in filteredResults}}
                <li>{{item}}</li>
              {{/each}}
            </ul>
            <div class="input-group-btn">
              <button type="submit" {{action "applyFilter"}} class="btn btn-default" aria-label="Searc">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
            </div>
          </div>

      </div>
    </fieldset>
    <!-- Standard button -->

    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
    <br>
    {{#link-to 'busqueda_avanzada'}}<button type="button" class="btn btn-danger">Búsqueda Avanzada</button>{{/link-to}}
  </form>
</div>
{{outlet}}
