<h4><strong>Búsqueda de Restaurantes</strong></h4>
<div>
{{#busqueda-filter filter=(action 'filterByName') as |restaurants|}}
  <ul class='results'>
    {{#each restaurants as |restaurantUnit|}}
      <li>{{restaurans-listing restaurant=restaurantUnit}}</li>
    {{/each}}
  </ul>
{{/busqueda-filter}}
</div>
