<div  align="center">
  <div class="page-header">
    <h4><strong>Búsqueda de Reservas</strong></h4>
  </div>

<!--El componente reservas-filter es usado, su atributo filter va a estar asociado con la accion
filterByDate implementada en controller de reservas y los resultados de este metodo seran retornados
en la variable reservas, que en el #each llamado lineas abajo, es recorrido y mostrado a traves de un
*restaurant-listing*-->
  {{#reservas-filter filter=(action 'filterByDate') as |reservas|}}
  <ul class="results">
      {{#each reservas as |reservaUnit|}}
        <li>{{reservas-listing reserva=reservaUnit}}</li>
      {{/each}}
    </ul>
  {{/reservas-filter}}


</div>
